/HW4_SPI.X/nbproject/private/
/HW5_I2C.X/nbproject/private/
/HW4_SPI.X/build/default/
/HW4_SPI.X/dist/default/
/HW5_I2C.X/dist/default/
/HW6_LCD.X/nbproject/private/
/HW6_LCD.X/build/default/
/HW6_LCD.X/dist/default/
/HW7_accelerator/nbproject/private/