/HW4_SPI.X/nbproject/private/
/HW5_I2C.X/nbproject/private/
/HW4_SPI.X/build/default/
/HW4_SPI.X/dist/default/
/HW5_I2C.X/dist/default/
/HW6_LCD.X/nbproject/private/
/HW6_LCD.X/build/default/
/HW6_LCD.X/dist/default/
/HW7_accelerator/nbproject/private/
/HW7_accelerator/build/default/
/HW7_accelerator/dist/default/
/HW8/firmware/HW8.X/nbproject/private/
/HW8_/firmware/HW8_.X/nbproject/private/
/HW8_/firmware/HW8_.X/build/default/
/HW8_/firmware/HW8_.X/dist/default/
/HW8_/firmware/HW8_LCDh/nbproject/private/
/HW8_/firmware/HW8_LCDh/build/default/
/HW8_/firmware/HW8_LCDh/dist/default/
/HW9_CDC/firmware/HW9_CDC.X/nbproject/private/
/HW9_CDC/firmware/HW9_CDC.X/build/default/
/HW9_CDC/firmware/HW9_CDC.X/dist/default/
/HW9_CDCh_2/firmware/HW9_CDCh_2.X/nbproject/private/
/HW9_CDCh_2/firmware/HW9_CDCh_2.X/build/default/
/HW9_CDCh_2/firmware/HW9_CDCh_2.X/dist/default/
/HW8_toggleh/firmware/HW8_toggleh.X/nbproject/private/
/HW8_toggleh/firmware/HW8_toggleh.X/dist/default/
/HW8_toggleh/firmware/HW8_toggleh.X/build/default/
/HW10_DSP/firmware/HW10_DSP.X/nbproject/private/
/HW10_DSP/HW10_DSP/nbproject/private/
/HW10_DSP/HW10_DSP/build/default/
/HW10_DSP/firmware/HW10_DSP.X/build/default/
/HW11_HID/firmware/HW11_HID.X/nbproject/private/
/HW11_HID/firmware/HW11_HID.X/build/default/
/HW11_HID/firmware/HW11_HID.X/dist/default/
/HW14_CDC/firmware/HW14_CDC.X/nbproject/private/
/HW14_CDC/firmware/HW14_CDC.X/build/default/
/HW14_CDC/firmware/HW14_CDC.X/dist/default/
/HW14_CDC_v2/firmware/HW14_CDC_v2.X/nbproject/private/
/HW14_CDC_v3/firmware/HW14_CDC_v3.X/nbproject/private/
/HW14_CDC_v3/firmware/HW14_CDC_v3.X/build/default/
/HW14_CDC_v3/firmware/HW14_CDC_v3.X/dist/default/